body {
    font-family: 'Raleway', sans-serif;
    max-width: 1010px ;
    margin: auto;
   
}
a:link { 
    text-decoration:none; 
} 
ul {
    list-style:none;
}

header {
   display: flex;
   justify-content: space-between;
} 
.logo img {
    max-width: 150px;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {   
    display: flex;
    flex-direction: row;
}
nav ul li {
    margin-right: 30px;
}
#recherche {
    display: flex;
    align-items: center;
}
.icone1 {
    color: #000;
    background-color:#F2F2F2;
    padding: 10px ;
    height: 19.2px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#recherche form .recherche1 {
    padding: 8.2px;
    width: 200px;
    height: 19.2px;
    border-color: #F2F2F2;
}
#recherche .bouton {
    background-color: #0065FC;
    padding: 10px;
    height: 19.2px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.filtres {
    display: flex;
    align-items: center;
}
h3 {
    color: black;
}
.filtres ul  {
    display: flex;
    flex-direction: row;
}
.filtres ul li {
   margin: 5px ;
   border:#F2F2F2 1.2px,1.2px;
   padding: 5px;
}
.îcone {
    margin: 5px;
    padding: 5px;
    border-radius: 100%;
    width: 20px;
    height: 16px ;
    background-color: #DEEBFF;
    color: #0065FC;
}