body {
    font-family: 'Raleway', sans-serif;
    max-width: 1010px ;
    margin: auto;
   
}
a:link { 
    text-decoration:none; 
} 
ul {
    list-style:none;
}

header {
   display: flex;
   justify-content: space-between;
} 
.logo img {
    max-width: 150px;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {   
    display: flex;
    flex-direction: row;
}
nav ul li {
    margin-right: 30px;
}